#search {
  .search {
    padding: 60px 0;
    &__heading {
      @include for-size(tablet) {
        font-size: 38px;
        line-height: 120%;
      }
      @include for-size(mobile) {
        font-size: 28px;
        line-height: 140%;
      }
    }

    &__text {
      padding-top: 10px;
      padding-bottom: 30px;
      @include text-formatter($--work, 16px, 400, 140%, none);
      @include for-size(mobile) {
        font-size: 16px;
        line-height: 140%;
      }
    }
    &__bar {
      display: flex;
      padding: 12px 20px;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      border: 1px solid $--Background---Secondary;
      gap: 10px;
      &__input {
        display: block;
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        @include text-formatter(
          $--work,
          16px,
          400,
          140%,
          none,
          $--caption-label-text
        );
      }
      &__img {
        width: 24px;
        cursor: pointer;
      }
    }
  }
  .active {
    border-bottom: 2px solid $--caption-label-text;

    .heading {
      color: $--Text;
    }
    .number {
      background: $--caption-label-text;
    }
  }
  .states {
    display: flex;
    &__category {
      width: calc(100% / 2);
      justify-content: center;
      h5 {
        color: $--caption-label-text;
        @include for-size(tablet) {
          font-size: 16px;
        }
      }

      padding: 12px 0;
      display: flex;
      column-gap: 16px;
      align-items: center;
      align-self: stretch;
      column-gap: 30px;
      &__number {
        display: flex;
        padding: 5px 10px;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        background: var(--Background---Secondary, #3b3b3b);
        @include text-formatter($--mono, 16px, 400, 140%);
        @include for-size(tablet) {
          font-size: 12px;
          line-height: 110%;
        }
        @include for-size(mobile) {
          display: none;
        }
      }
    }
  }
}
.load-more {
  display: block;
  margin: 0px auto 30px;
  background-color: $--Background---Secondary;
 &:disabled {
    background: $--caption-label-text;
  }
}
