#content {
  .content {
    display: flex;
    column-gap: 60px;
    @include for-size(tablet) {
    column-gap: 40px;
  
    }
    @include for-size(mobile) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__img {
      object-fit: cover;
      width: 50%;
      @include for-size(mobile) {
        width: 100%;
        height: 232px;
      }
    }
    &__account {
      width: 50%;
      padding: 100px 0;

      @include for-size(mobile) {
        width: 100%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      &__text {
        padding-top: 20px;
        padding-bottom: 40px;
        @include text-formatter($--work, 22px, 400, 160%);
        @include for-size(tablet) {
          @include text-formatter($--work, 16px, 400, 140%);
        }
      }
      &__heading {
        @include for-size(tablet) {
          @include text-formatter($--work, 38px, 600, 120%);
        }
        @include for-size(mobile) {
          margin-top: 30px;
        }
      }
      &__button {
        margin-top: 15px;
        width: 330px;
        @include for-size(tablet) {
          width: 325px;
        }
        @include for-size(mobile) {
          width: 315px;
          margin-bottom: 40px;
        }
      }
      &__form {
        display: flex;
        flex-direction: column;
        .wrapper{
          position: relative;
        }
.pas-content{
  display: none;
  padding: 20px ;
  width: 330px;
  background-color: white;
  top:45px;
  border-radius: 20px;
  position: absolute;
}
        @include for-size(mobile) {
          width: 100%;
          align-items: center;
        }
        padding-bottom: 30px;
        p{
          margin: 5px 5px 10px 10px;
          height: 15px;
          color:rgb(213, 37, 37);
        }
        div {
          display: flex;
          height: 46px;
          width: 330px;
          padding: 16px 20px;
          align-items: center;
          gap: 12px;
          border-radius: 20px;
          border: 1px solid $--caption-label-text;
          background: $--Text;
          text-align: center;
         
          @include for-size(mobile) {
            width: 315px;
          }
        }
        input {
          width: 100%;
          border: none;
          outline: none;
          margin-top: 5px;
          &::placeholder {
            @include text-formatter(
              $--work,
              16px,
              400,
              140%,
              none,
              $--Background
            );
          }
        }
      }
    }
  }
}
