@mixin text-formatter(
  $font-family: normal,
  $font-size: 22px,
  $font-weight,
  $line-height: normal,
  $text-transform: capitalize,
  $color: $--Text
) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  text-transform: $text-transform;
}
@mixin button-formatter($height,$padding){
  display: inline-flex;
  height: 60px;
  padding: $padding;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 20px;
  background: $--Call-to-Action;
  transition: all 0.3s ease;
  border: 2px solid $--Call-to-Action;
  cursor: pointer;
  &:hover {
    transform: scale(0.95);
  }
}
@mixin for-size($type) {
  @if $type == tablet {
    @media screen and (max-width: 1280px) {
      @content;
    }
  } @else if $type == mobile {
    @media screen and (max-width: 825px) {
      @content;
    }
  }
}
@mixin container($width) {
  width: $width;
  margin: 0 auto;
  @content;
}
