.container {
  @include container(1050px);
  @include for-size(tablet) {
    @include container(690px);
  }
  @include for-size(mobile) {
    @include container(315px);
  }
}
body {
  background-color: $--Background;
  overflow-x: hidden;
}

#hero {
  padding: 80px 0;
  @include for-size(mobile) {
    padding: 40px 0;
  }
  .hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    @include for-size(mobile) {
      grid-template-columns: 1fr;
      grid-row-gap: 40px;
    }
    img {
      grid-area: 1 / 2 / 3 / 3;
      @include for-size(mobile) {
        grid-area: 2 / 1 / 3 / 2;
      }
      width: 510px;
      height: 510px;
      @include for-size(tablet) {
        width: 330px;
        height: 330px;
      }
      @include for-size(mobile) {
        width: 315px;
        height: 315px;
      }
    }
    @include for-size(tablet) {
      flex-direction: column;
    }
    column-gap: 30px;
    h1 {
      width: 510px;
      @include for-size(tablet) {
        width: 330px;
      }
      @include for-size(mobile) {
        width: 315px;
      }
    }
    .hero-content {
      grid-area: 1 / 1 / 2 / 2;
      @include for-size(mobile) {
        grid-area: 1 / 1 / 2 / 2;
      }
      &__h1 {
        @include for-size(tablet) {
          @include text-formatter($--work, 38px, 600, 120%);
        }
        @include for-size(mobile) {
          @include text-formatter($--work, 28px, 600, 140%);
        }
      }

      &__text {
        padding-top: 20px;
        padding-bottom: 30px;
        @include for-size(tablet) {
          padding-bottom: 20px;
        }
        @include for-size(mobile) {
          padding-bottom: 0;
          padding-top: 10px;
        }
      }

      &__text {
        @include text-formatter($--work, 22px, 400, 160%);
        @include for-size(tablet) {
          line-height: 140%;
          font-size: 16px;
        }
      }
    }
    .hero-started {
      grid-area: 2 / 1 / 3 / 2;
      @include for-size(mobile) {
        grid-area: 3 / 1 / 4 / 2;
      }
      img {
        width: 20px;
        height: 20px;
      }
      a {
        @include for-size(mobile) {
          width: 100%;
        }
      }
      &__infos {
        display: grid;
        column-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: space-between;
        @include for-size(mobile) {
          padding-top: 20px;
        }
      }

      &__info {
        padding-top: 30px;
        @include for-size(tablet) {
          padding-top: 20px;
        }
        h4 {
          @include for-size(tablet) {
            @include text-formatter($--mono, 22px, 700, 160%);
          }
        }
        &__text {
          @include text-formatter($--work, 24px, 400, 160%);
          @include for-size(tablet) {
            @include text-formatter($--work, 16px, 400, 140%);
          }
        }
      }
    }
  }
}

#trending {
  padding: 80px 0;
  @include for-size(tablet) {
    padding: 40px 0;
  }

  .trending {
    overflow: hidden;
    &__text {
      padding-top: 10px;
      @include text-formatter($--work, 22px, 400, 160%, none);
      padding-bottom: 60px;

      @include for-size(tablet) {
        @include text-formatter($--work, 16px, 400, 140%, none);
        padding-bottom: 40px;
      }
    }
    &__heading {
      @include for-size(tablet) {
        @include text-formatter($--work, 28px, 600, 140%);
      }
    }
    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      @include for-size(tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include for-size(mobile) {
        grid-template-columns: 1fr;
      }
      &__card {
        @include for-size(tablet) {
          &:nth-child(3) {
            display: none;
          }
        }
        @include for-size(mobile) {
          &:nth-child(2) {
            display: none;
          }
        }
        &__primary {
          @include for-size(mobile) {
            width: 315px;
            height: 315px;
          }
        }
        img {
          transition: transform 0.3s ease;
          cursor: pointer;
          &:hover {
            transform: scale(0.95);
          }
        }
        &__photos {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 15px;
          padding: 15px 0;
          img {
            width: 95px;
            height: 95px;
          }
          &__number {
            padding: 32px 15px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: $--Call-to-Action;
            transition: transform 0.3s ease;
            width: 100%;
            height: 100px;
            text-align: center;
            cursor: pointer;
            &:hover {
              transform: scale(0.95);
            }

            @include for-size(mobile) {
              width: 95px;
              height: 95px;
            }
            &__text {
              padding-top: 2px;
              @include for-size(mobile) {
                @include text-formatter($--mono, 16px, 700, 140%);
              }
            }
          }
        }
        &__content {
          &__user {
            padding-top: 10px;
            display: flex;
            column-gap: 12px;
          }
        }
      }
    }
  }
}

#top {
  padding: 80px 0;
  @include for-size(tablet) {
    padding: 40px 0;
  }

  .top {
    display: grid;
    column-gap: 100px;

    grid-template-columns: auto auto;

    @include for-size(mobile) {
      grid-template-columns: 1fr;
    }
    &__button {
      grid-area: 1 / 2 / 2 / 3;
      @include for-size(mobile) {
        grid-area: 3 / 1 / 4 / 2;
      }
      margin-top: 30px;
      background-color: $--Background;
      @include for-size(mobile) {
        margin-top: 40px;
      }
      img {
        width: 20px;
        height: 20px;
      }
      .icon {
        fill: red;
      }
    }
    &__texts {
      grid-area: 1 / 1 / 2 / 2;

      &__text {
        padding-top: 10px;
        @include text-formatter($--work, 22px, 400, 160%, none);
        padding-bottom: 60px;

        @include for-size(tablet) {
          @include text-formatter($--work, 16px, 400, 140%, none);
          padding-bottom: 40px;
        }
      }
      &__heading {
        @include for-size(tablet) {
          @include text-formatter($--work, 28px, 600, 140%);
        }
      }
    }

    &__cards {
      grid-area: 2 / 1 / 3 / 3;
      @include for-size(mobile) {
        grid-area: 2 / 1 / 3 / 2;
      }
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      @include for-size(tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include for-size(mobile) {
        grid-template-columns: 1fr;
      }
      &__card {
        background-color: $--Background---Secondary;
        position: relative;
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: 20px;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
          transform: scale(0.95);
        }
        @include for-size(tablet) {
          flex-direction: row;
        }
        &__img {
          @include for-size(tablet) {
            height: 60px;
            width: 60px;
          }
        }
        &__content {
          &__heading {
            text-align: center;
          }
          &__total {
            color: $--caption-label-text;
          }
          &__rank {
            color: $--caption-label-text;
            position: absolute;
            left: 20px;
            top: 18px;
            border-radius: 20px;
            background: $--Background;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            text-align: center;
            @include for-size(tablet) {
              left: 12px;
              top: 13px;
            }
          }
        }
      }
    }
  }
}

// ---------

#browse {

  .browse {
    padding: 80px 0;
    &__cards {

      display: grid;
      grid-template-columns: repeat(4, auto);   
      padding-top: 60px;
      gap: 30px;
      
      @include for-size(mobile) {
        grid-template-columns: repeat(2, auto);  
      }
      a {
        transition: transform 0.3s ease;
        cursor: pointer;
        &:hover {
          transform: scale(0.95);
        }
      }
      &__card {
        
        background-color: $--Background---Secondary;
        border-radius: 20px;
        img{
          @include for-size(tablet) {
            width:150px ;
            height:142px ;
          }

        }
       
        &__text {
          padding: 20px 30px 25px 30px;
          width: 100%;
          @include for-size(tablet) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

// -------------------

#discover {
  .discover {
    padding: 80px 0;
    @include for-size(tablet) {
      padding: 40px 0;
    }
    a {
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        transform: scale(0.95);
      }
    }

    display: grid;
    column-gap: 100px;

    grid-template-columns: 4fr 1fr;
    @include for-size(tablet) {
      grid-template-columns: 2.1fr 1fr;
    }
    @include for-size(mobile) {
      grid-template-columns: 1fr;
    }
    &__button {
      grid-area: 1 / 2 / 2 / 3;
      @include for-size(mobile) {
        grid-area: 3 / 1 / 4 / 2;
      }
      margin-top: 30px;
      background-color: $--Background;

      img {
        width: 20px;
        height: 20px;
      }
    }
    &__texts {
      grid-area: 1 / 1 / 2 / 2;

      &__text {
        padding-top: 10px;
        @include text-formatter($--work, 22px, 400, 160%, none);
        padding-bottom: 60px;

        @include for-size(tablet) {
          @include text-formatter($--work, 16px, 400, 140%, none);
          padding-bottom: 40px;
        }
      }
      &__heading {
        @include for-size(tablet) {
          @include text-formatter($--work, 28px, 600, 140%);
        }
      }
    }

    &__cards {
      grid-area: 2 / 1 / 3 / 3;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      @include for-size(tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include for-size(mobile) {
        grid-area: 2 / 1 / 3 / 2;
        grid-template-columns: 1fr;
      }
      &__card {
        background-color: $--Background---Secondary;
        border-radius: 20px;

        @include for-size(tablet) {
          &:last-child {
            display: none;
          }
        }
        @include for-size(mobile) {
          &:last-child {
            display: initial;
          }
        }

        &__img {
          height: 296px;
        }
        &__content {
          padding: 20px 30px;

          img {
            width: 24px;
            height: 24px;
          }
          &__dancer {
            padding-top: 5px;
            display: flex;
            column-gap: 12px;
            align-items: center;
          }
          &__records {
            padding-top: 25px;
            display: flex;
            column-gap: 21px;
            justify-content: space-between;
            .col-grey {
              color: $--caption-label-text;
              padding-bottom: 8px;
            }
          }
        }
      }
    }
  }
}
// -----------------

#magic {
  width: 100%;
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%),
    url(../../public/imgs/photos/mushroom.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  @include for-size(tablet) {
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%),
      url(../../public/imgs/photos/small-mushroom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  @include for-size(mobile) {
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%),
      url(../../public/imgs/photos/small-small-mushroom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .magic {
    padding-top: 360px;
    padding-bottom: 60px;
    @include for-size(mobile) {
      padding-top: 120px;
      padding-bottom: 40px;
    }
    display: flex;
    justify-content: space-between;
    align-items: end;
    .addition {
      display: none;
      @include for-size(mobile) {
        display: flex;
      }
    }
    @include for-size(mobile) {
      flex-direction: column;
      row-gap: 30px;
      align-items: start;
      .main {
        display: none;
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      &__text {
        @include for-size(tablet) {
          @include text-formatter($--work, 38px, 600, 120%);
        }
      }
      &__button {
        width: fit-content;
        color: $--Background;
        background-color: $--Text;
        @include for-size(mobile) {
          width: 100%;
        }
      }
      &__user {
        display: flex;
        column-gap: 12px;
        padding: 10px 20px;
        align-items: center;
        border-radius: 20px;
        background: #3b3b3b;
        width: fit-content;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    &__right {
      padding: 30px;
      width: 295px;
      height: fit-content;
      border-radius: 20px;
      background: rgba(59, 59, 59, 0.5);
      backdrop-filter: blur(5px);
      grid-column-end: auto;
      @include for-size(mobile) {
        width: 100%;
      }
      &__time {
        display: grid;
        grid-template-columns: repeat(5, auto);
        padding-top: 10px;
        &__number {
          h3 {
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}

#how {
  .how {
    padding: 80px 0;
    @include for-size(tablet) {
      padding: 40px 0;
    }
    &__h3 {
      @include for-size(tablet) {
        @include text-formatter($--work, 28px, 600, 140%);
      }
    }
    &__text {
      @include text-formatter($--work, 22px, 400, 160%);

      padding-top: 10px;
      padding-bottom: 48px;
      @include for-size(tablet) {
        padding-bottom: 40px;
        font-size: 16px;
      }
    }
    &__cards {
      display: flex;
      gap: 30px;
      // flex-wrap: wrap;
      @include for-size(mobile) {
        flex-direction: column;
      }
      &__card {
        border-radius: 20px;
        background: $--Background---Secondary;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        width: 330px;
        padding: 10px 30px 30px 30px;

        img {
          @include for-size(tablet) {
            width: 160px;
            height: 160px;
          }
          @include for-size(tablet) {
            width: 100px;
            height: 100px;
          }
        }
        @include for-size(mobile) {
          flex-direction: row;
          justify-content: space-between;
          padding: 20px;
          column-gap: 20px;
        }
        &__content {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          align-items: center;
          text-align: center;

          @include for-size(mobile) {
            align-items: start;

            text-align: start;
          }
          h5 {
            @include text-formatter($--work, 16px, 600, 140%);
          }
          p {
            @include text-formatter($--work, 12px, 400, 140%);
          }
        }
      }
    }
  }
}

// ----------------------

#join {
  padding-top: 40px;
  padding-bottom: 80px;
  @include for-size(mobile) {
    padding: 0;
  }
  .subscribe {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 16px 0px 16px 20px;
    align-items: center;
    row-gap: 12px;
    border-radius: 20px;
    background: $--Text;
    @include for-size(tablet) {
      padding: 0;
      background-color: transparent;
      flex-direction: column;
      height: auto;
      column-gap: 16px;
    }
    &__button {
      @include for-size(tablet) {
        width: 100%;
        height: 46px;
      }
    }
    input {
      border: none;
      width: 100%;
      font-family: $--work;
      font-size: 16px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        @include text-formatter($--work, 16px, 400, 140%, none, $--Background);
      }
      @include for-size(tablet) {
        display: flex;
        height: 46px;
        padding: 16px 20px;
        align-items: center;
        gap: 12px;
        border-radius: 20px;
        border: 1px solid $--caption-label-text;
        background: var(--Text, #fff);
      }
    }
    img {
      width: 22px;
      height: 22px;
    }
  }
  .join {
    display: flex;
    background-color: $--Background---Secondary;
    border-radius: 20px;
    padding: 60px;
    align-items: center;
    gap: 80px;
    @include for-size(tablet) {
      padding: 40px 30px;
      gap: 30px;
    }
    @include for-size(mobile) {
      padding: 40px 0px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: transparent;
    }
    &__img {
      @include for-size(tablet) {
        width: 330px;
        height: 285px;
      }
    }

    @include for-size(mobile) {
      display: flex;
      flex-direction: column;
    }
    &__content {
      &__heading {
        @include for-size(tablet) {
          @include text-formatter($--work, 28px, 600, 140%);
        }
      }

      &__text {
        padding-top: 10px;
        padding-bottom: 40px;
        @include text-formatter($--work, 22px, 400, 160%);
        @include for-size(tablet) {
          @include text-formatter($--work, 16px, 400, 140%);
        }
      }
    }
  }
}
