.container {
  @include container(1050px);
  @include for-size(tablet) {
    @include container(690px);
  }
  @include for-size(mobile) {
    @include container(315px);
  }
}
body {
  background-color: $--Background;
}
#hero {
  padding: 80px 0;
  @include for-size(mobile) {
    padding: 40px 0;
  }
  .hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    @include for-size(mobile) {
      grid-template-columns: 1fr;
      grid-row-gap: 40px;
    }
    img {
      grid-area: 1 / 2 / 3 / 3;
      @include for-size(mobile) {
        grid-area: 2 / 1 / 3 / 2;
      }
      width: 510px;
      height: 510px;
      @include for-size(tablet) {
        width: 330px;
        height: 330px;
      }
      @include for-size(mobile) {
        width: 315px;
        height: 315px;
      }
    }
    @include for-size(tablet) {
      flex-direction: column;
    }
    column-gap: 30px;
    h1 {
      width: 510px;
      @include for-size(tablet) {
        width: 330px;
      }
      @include for-size(mobile) {
        width: 315px;
      }
    }
    .hero-content {
      grid-area: 1 / 1 / 2 / 2;
      @include for-size(mobile) {
        grid-area: 1 / 1 / 2 / 2;
      }
      &__h1 {
        @include for-size(tablet) {
          @include text-formatter($--work, 38px, 600, 120%);
        }
        @include for-size(mobile) {
          @include text-formatter($--work, 28px, 600, 140%);
        }
      }

      &__text {
        padding-top: 20px;
        padding-bottom: 30px;
        @include for-size(tablet) {
          padding-bottom: 20px;
        }
        @include for-size(mobile) {
          padding-bottom: 0;
          padding-top: 10px;
        }
      }
      a {
        text-decoration: none;
      }
      &__text {
        @include text-formatter($--work, 22px, 400, 160%);
        @include for-size(tablet) {
          line-height: 140%;
          font-size: 16px;
        }
      }
    }
    .hero-started {
      grid-area: 2 / 1 / 3 / 2;
      @include for-size(mobile) {
        grid-area: 3 / 1 / 4 / 2;
      }
      img {
        width: 20px;
        height: 20px;
      }
      a {
        text-decoration: none;
        @include for-size(mobile) {
          width: 100%;
        }
      }
      &__infos {
        display: grid;
        column-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: space-between;
        @include for-size(mobile) {
          padding-top: 20px;
        }
      }

      &__info {
        padding-top: 30px;
        @include for-size(tablet) {
          padding-top: 20px;
        }
        h4 {
          @include for-size(tablet) {
            @include text-formatter($--mono, 22px, 700, 160%);
          }
        }
        &__text {
          @include text-formatter($--work, 24px, 400, 160%);
          @include for-size(tablet) {
            @include text-formatter($--work, 16px, 400, 140%);
          }
        }
      }
    }
  }
}

#trending {
  padding: 80px 0;
  @include for-size(tablet) {
    padding: 40px 0;
  }
  a {
    text-decoration: none;
  }
  .trending {
    &__text {
      padding-top: 10px;
      @include text-formatter($--work, 22px, 400, 160%, none);
      padding-bottom: 60px;

      @include for-size(tablet) {
        @include text-formatter($--work, 16px, 400, 140%, none);
        padding-bottom: 40px;
      }
    }
    &__heading {
      @include for-size(tablet) {
        @include text-formatter($--work, 28px, 600, 140%);
      }
    }
    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      @include for-size(tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include for-size(mobile) {
        grid-template-columns: 1fr;
      }
      &__card {
        @include for-size(tablet) {
          &:nth-child(3) {
            display: none;
          }
        }
        @include for-size(mobile) {
          &:nth-child(2) {
            display: none;
          }
        }
        &__primary {
          @include for-size(mobile) {
            width: 315px;
            height: 315px;
          }
        }
        img {
          transition: transform 0.3s ease;
          cursor: pointer;
          &:hover {
            transform: scale(0.95);
          }
        }
        &__photos {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 15px;
          padding: 15px 0;
          img {
            width: 95px;
            height: 95px;
          }
          &__number {
            padding: 32px 15px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: $--Call-to-Action;
            transition: transform 0.3s ease;
            width: 100%;
            height: 100px;
            text-align: center;
            cursor: pointer;
            &:hover {
              transform: scale(0.95);
            }

            @include for-size(mobile) {
              width: 95px;
              height: 95px;
            }
            &__text {
              padding-top: 2px;
              @include for-size(mobile) {
                @include text-formatter($--mono, 16px, 700, 140%);
              }
            }
          }
        }
        &__content {
          &__user {
            padding-top: 10px;
            display: flex;
            column-gap: 12px;
          }
        }
      }
    }
  }
}

#top {
  padding: 80px 0;
  @include for-size(tablet) {
    padding: 40px 0;
  }
  a {
    text-decoration: none;
  }
  .top {
    display: grid;
    column-gap: 100px;

    grid-template-columns: auto auto;

    @include for-size(mobile) {
      grid-template-columns: 1fr;
    }
    &__button {
      grid-area: 1 / 2 / 2 / 3;
      @include for-size(mobile) {
        grid-area: 3 / 1 / 4 / 2;
      }
      margin-top: 30px;
      background-color: $--Background;
      @include for-size(mobile){
       
      margin-top: 40px;
        
      }
      img {
        width: 20px;
        height: 20px;
      }
      .icon {
        fill: red;
      }
    }
    &__texts {
      grid-area: 1 / 1 / 2 / 2;

      &__text {
        padding-top: 10px;
        @include text-formatter($--work, 22px, 400, 160%, none);
        padding-bottom: 60px;

        @include for-size(tablet) {
          @include text-formatter($--work, 16px, 400, 140%, none);
          padding-bottom: 40px;
        }
      }
      &__heading {
        @include for-size(tablet) {
          @include text-formatter($--work, 28px, 600, 140%);
        }
      }
    }

    &__cards {
      grid-area: 2 / 1 / 3 / 3;
      @include for-size(mobile) {
        grid-area: 2 / 1 / 3 / 2;
      }
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      @include for-size(tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include for-size(mobile) {
        grid-template-columns: 1fr;
      }
      &__card {
        background-color: $--Background---Secondary;
        position: relative;
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: 20px;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
          transform: scale(0.95);
        }
        @include for-size(tablet) {
          flex-direction: row;
        }
        &__img {
          @include for-size(tablet) {
            height: 60px;
            width: 60px;
          }
        }
        &__content {
          &__heading {
            text-align: center;
          }
          &__total {
            color: $--caption-label-text;
          }
          &__rank {
            color: $--caption-label-text;
            position: absolute;
            left: 20px;
            top: 18px;
            border-radius: 20px;
            background: $--Background;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            text-align: center;
            @include for-size(tablet) {
              left: 12px;
              top: 13px;
            }
          }
        }
      }
    }
  }
}

// ---------

#browse {
  .browse {
    padding: 80px 0;
    &__cards {
      &__card {
        display: initial;
      }
    }
  }
}

// -------------------

#discover {
  .discover {
    padding: 80px 0;
    @include for-size(tablet) {
      padding: 40px 0;
    }
    a {
      text-decoration: none;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        transform: scale(0.95);
      }
    }

    display: grid;
    column-gap: 100px;

    grid-template-columns: 4fr 1fr;
    @include for-size(tablet) {
      grid-template-columns: 2.1fr 1fr;
    }
    @include for-size(mobile) {
      grid-template-columns: 1fr;
    }
    &__button {
      grid-area: 1 / 2 / 2 / 3;
      @include for-size(mobile) {
        grid-area: 3 / 1 / 4 / 2;
      }
      margin-top: 30px;
      background-color: $--Background;

      img {
        width: 20px;
        height: 20px;
      }
    }
    &__texts {
      grid-area: 1 / 1 / 2 / 2;

      &__text {
        padding-top: 10px;
        @include text-formatter($--work, 22px, 400, 160%, none);
        padding-bottom: 60px;

        @include for-size(tablet) {
          @include text-formatter($--work, 16px, 400, 140%, none);
          padding-bottom: 40px;
        }
      }
      &__heading {
        @include for-size(tablet) {
          @include text-formatter($--work, 28px, 600, 140%);
        }
      }
    }

    &__cards {
      grid-area: 2 / 1 / 3 / 3;
      display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;

      @include for-size(tablet){
        grid-template-columns: repeat(2,1fr);
        
      }
      @include for-size(mobile) {
        grid-area: 2 / 1 / 3 / 2;
        grid-template-columns: 1fr;

      }
      &__card {
        
        background-color: $--Background---Secondary;
        border-radius:20px ;
       
        @include for-size(tablet){
          &:last-child{
            display: none;
          }
          
        }
        @include for-size(mobile){
          &:last-child{
            display: initial;
          }
          
        }

        &__img {
          height: 296px;
        }
        &__content {
          padding: 20px 30px;
        
          
          img {
            width: 24px;
            height: 24px;
          }
          &__dancer{
            padding-top: 5px;
            display: flex;
            column-gap: 12px;
            align-items: center;
            
          }
          &__records {
            padding-top: 25px;
            display: flex;
            column-gap:21px;
            justify-content: space-between;
            .col-grey {
              color: $--caption-label-text;
              padding-bottom: 8px;
            }
          }
        }
      }
    }
  }
}
