/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.primary {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
  display: inline-flex;
  height: 60px;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #a259ff;
  transition: all 0.3s ease;
  border: 2px solid #a259ff;
  cursor: pointer;
}
.primary:hover {
  transform: scale(0.95);
}

.secondary {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
  display: inline-flex;
  height: 60px;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #a259ff;
  transition: all 0.3s ease;
  border: 2px solid #a259ff;
  cursor: pointer;
}
.secondary:hover {
  transform: scale(0.95);
}

.tertiary {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
  display: inline-flex;
  height: 60px;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #a259ff;
  transition: all 0.3s ease;
  border: 2px solid #a259ff;
  cursor: pointer;
}
.tertiary:hover {
  transform: scale(0.95);
}

.heading-first-mono {
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 67px;
  font-weight: 700;
  line-height: 110%;
  text-transform: capitalize;
}

.heading-second-mono {
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 51px;
  font-weight: 700;
  line-height: 110%;
  text-transform: capitalize;
}

.heading-third-mono {
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 38px;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
}

.heading-fourth-mono {
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
}

.heading-fifth-mono {
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  text-transform: capitalize;
}

.base-mono {
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-transform: capitalize;
}

.caption-mono {
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
  text-transform: capitalize;
}

.heading-first-work {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 67px;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
}

.heading-second-work {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 51px;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
}

.heading-third-work {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
}

.heading-fourth-work {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.heading-fifth-work {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.base-work {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-transform: capitalize;
}

.caption-work {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
  text-transform: capitalize;
}

footer {
  background-color: #3b3b3b;
  padding: 40px 0;
}
footer .footer p {
  color: #CCCCCC;
}
footer .footer hr {
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid #858584;
}
footer .footer__content {
  display: flex;
  row-gap: 30px;
  justify-content: center;
}
footer .footer__content .subscribe {
  width: 420px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 16px 0px 16px 20px;
  align-items: center;
  row-gap: 12px;
  border-radius: 20px;
  background: #fff;
}
footer .footer__content .subscribe img {
  display: none;
}
@media screen and (max-width: 1050px) {
  footer .footer__content .subscribe img {
    display: initial;
  }
}
@media screen and (max-width: 690px) {
  footer .footer__content .subscribe {
    padding: 0;
  }
}
@media screen and (max-width: 690px) {
  footer .footer__content .subscribe {
    width: 100%;
    background-color: transparent;
    flex-direction: column;
    height: auto;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
@media screen and (max-width: 690px) {
  footer .footer__content .subscribe__button {
    width: 100%;
    height: 46px;
  }
}
footer .footer__content .subscribe input {
  border: none;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
footer .footer__content .subscribe input:focus {
  outline: none;
}
footer .footer__content .subscribe input::-moz-placeholder {
  color: #2b2b2b;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-transform: none;
}
footer .footer__content .subscribe input::placeholder {
  color: #2b2b2b;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-transform: none;
}
@media screen and (max-width: 690px) {
  footer .footer__content .subscribe input {
    display: flex;
    height: 46px;
    padding: 16px 20px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 1px solid #858584;
    background: var(--Text, #fff);
  }
}
footer .footer__content .subscribe img {
  width: 22px;
  height: 22px;
}
footer .footer__content a,
footer .footer__content p {
  text-transform: none;
}
@media screen and (max-width: 1050px) {
  footer .footer__content {
    width: 100%;
    flex-direction: column;
  }
}
footer .footer__content p {
  color: #CCCCCC;
}
footer .footer__content__info {
  width: 327.414px;
}
footer .footer__content__info__logo {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-bottom: 10px;
}
footer .footer__content__info__nft {
  width: 238px;
  padding: 20px 0;
}
@media screen and (max-width: 1050px) {
  footer .footer__content__info__nft {
    width: 690px;
  }
}
@media screen and (max-width: 690px) {
  footer .footer__content__info__nft {
    width: 100%;
  }
}
footer .footer__content__info__p {
  width: 238px;
  padding-bottom: 15px;
}
footer .footer__content__info__icons {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
footer .footer__content__explore {
  width: 240px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
footer .footer__content__explore a {
  color: #CCCCCC;
}
footer .footer__content__explore h5 {
  margin-bottom: 5px;
}
footer .footer__content__join {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
footer .footer__content__join h5 {
  margin-bottom: 5px;
}
footer .footer__content__join__p {
  width: 330px;
}
@media screen and (max-width: 1050px) {
  footer .footer__content__join__p {
    width: 690px;
  }
}
@media screen and (max-width: 1050px) {
  footer .footer__content__join__p {
    width: 100%;
  }
}

header {
  padding: 0 50px;
  margin: 0 auto;
  background-color: #2b2b2b;
}
@media screen and (max-width: 690px) {
  header {
    padding: 0 30px;
  }
}
header .nav-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1050px) {
  header .nav-container {
    padding: 15px 0;
  }
}
header .logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
@media screen and (max-width: 1050px) {
  header .logo {
    -moz-column-gap: 9px;
         column-gap: 9px;
  }
}
header .logo__img-name {
  margin-top: 8px;
  height: 20px;
  width: 200px;
}
@media screen and (max-width: 1050px) {
  header .logo__img-name {
    margin-top: 2px;
    width: 149.56px;
    height: 14.85px;
  }
}
@media screen and (max-width: 1050px) {
  header .logo__img-icon {
    width: 24px;
    height: 24px;
  }
}
header .nav-menu {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-transform: none;
}
header .nav-menu__side {
  position: relative;
}
header .nav-menu__side__list {
  position: fixed;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.548) 0px 5px 15px;
  gap: 30px;
  top: 0;
  right: -100%;
  width: 250px;
  padding: 30px;
  height: 100vh;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  background-color: #3b3b3b;
}
header .nav-menu__side__burger {
  width: 24px;
  height: 24px;
  display: none;
}
@media screen and (max-width: 1050px) {
  header .nav-menu__side__burger {
    display: initial;
  }
}
header .nav-menu ul > li {
  transition: all 0.3s ease;
  cursor: pointer;
}
header .nav-menu ul > li:hover {
  transform: scale(0.95);
}
header .nav-menu ul > li a {
  text-decoration: none;
  color: #fff;
}
header .nav-menu__list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1050px) {
  header .nav-menu__list {
    display: none;
  }
}
header .nav-menu__list__sign {
  display: inline-flex;
  height: 60px;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #a259ff;
  transition: all 0.3s ease;
  border: 2px solid #a259ff;
  cursor: pointer;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}
header .nav-menu__list__sign:hover {
  transform: scale(0.95);
}
header .nav-menu__list__sign img {
  width: 20px;
  height: 20px;
}
header .nav-menu__list__item {
  padding: 0 20px;
}

.container {
  width: 1050px;
  margin: 0 auto;
}
@media screen and (max-width: 1050px) {
  .container {
    width: 690px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 690px) {
  .container {
    width: 315px;
    margin: 0 auto;
  }
}

body {
  background-color: #2b2b2b;
  overflow-x: hidden;
}

#hero {
  padding: 80px 0;
}
@media screen and (max-width: 690px) {
  #hero {
    padding: 40px 0;
  }
}
#hero .hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (max-width: 690px) {
  #hero .hero-container {
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }
}
#hero .hero-container img {
  grid-area: 1/2/3/3;
  width: 510px;
  height: 510px;
}
@media screen and (max-width: 690px) {
  #hero .hero-container img {
    grid-area: 2/1/3/2;
  }
}
@media screen and (max-width: 1050px) {
  #hero .hero-container img {
    width: 330px;
    height: 330px;
  }
}
@media screen and (max-width: 690px) {
  #hero .hero-container img {
    width: 315px;
    height: 315px;
  }
}
@media screen and (max-width: 1050px) {
  #hero .hero-container {
    flex-direction: column;
  }
}
#hero .hero-container h1 {
  width: 510px;
}
@media screen and (max-width: 1050px) {
  #hero .hero-container h1 {
    width: 330px;
  }
}
@media screen and (max-width: 690px) {
  #hero .hero-container h1 {
    width: 315px;
  }
}
#hero .hero-container .hero-content {
  grid-area: 1/1/2/2;
}
@media screen and (max-width: 690px) {
  #hero .hero-container .hero-content {
    grid-area: 1/1/2/2;
  }
}
@media screen and (max-width: 1050px) {
  #hero .hero-container .hero-content__h1 {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
  }
}
@media screen and (max-width: 690px) {
  #hero .hero-container .hero-content__h1 {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
  }
}
#hero .hero-container .hero-content__text {
  padding-top: 20px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1050px) {
  #hero .hero-container .hero-content__text {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 690px) {
  #hero .hero-container .hero-content__text {
    padding-bottom: 0;
    padding-top: 10px;
  }
}
#hero .hero-container .hero-content__text {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}
@media screen and (max-width: 1050px) {
  #hero .hero-container .hero-content__text {
    line-height: 140%;
    font-size: 16px;
  }
}
#hero .hero-container .hero-started {
  grid-area: 2/1/3/2;
}
@media screen and (max-width: 690px) {
  #hero .hero-container .hero-started {
    grid-area: 3/1/4/2;
  }
}
#hero .hero-container .hero-started img {
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 690px) {
  #hero .hero-container .hero-started a {
    width: 100%;
  }
}
#hero .hero-container .hero-started__infos {
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 690px) {
  #hero .hero-container .hero-started__infos {
    padding-top: 20px;
  }
}
#hero .hero-container .hero-started__info {
  padding-top: 30px;
}
@media screen and (max-width: 1050px) {
  #hero .hero-container .hero-started__info {
    padding-top: 20px;
  }
}
@media screen and (max-width: 1050px) {
  #hero .hero-container .hero-started__info h4 {
    color: #fff;
    font-family: "Space Mono", monospace;
    font-size: 22px;
    font-weight: 700;
    line-height: 160%;
    text-transform: capitalize;
  }
}
#hero .hero-container .hero-started__info__text {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}
@media screen and (max-width: 1050px) {
  #hero .hero-container .hero-started__info__text {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-transform: capitalize;
  }
}

#trending {
  padding: 80px 0;
}
@media screen and (max-width: 1050px) {
  #trending {
    padding: 40px 0;
  }
}
#trending .trending {
  overflow: hidden;
}
#trending .trending__text {
  padding-top: 10px;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-transform: none;
  padding-bottom: 60px;
}
@media screen and (max-width: 1050px) {
  #trending .trending__text {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-transform: none;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 1050px) {
  #trending .trending__heading {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
  }
}
#trending .trending__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (max-width: 1050px) {
  #trending .trending__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 690px) {
  #trending .trending__cards {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1050px) {
  #trending .trending__cards__card:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 690px) {
  #trending .trending__cards__card:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 690px) {
  #trending .trending__cards__card__primary {
    width: 315px;
    height: 315px;
  }
}
#trending .trending__cards__card img {
  transition: transform 0.3s ease;
  cursor: pointer;
}
#trending .trending__cards__card img:hover {
  transform: scale(0.95);
}
#trending .trending__cards__card__photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 15px 0;
}
#trending .trending__cards__card__photos img {
  width: 95px;
  height: 95px;
}
#trending .trending__cards__card__photos__number {
  padding: 32px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #a259ff;
  transition: transform 0.3s ease;
  width: 100%;
  height: 100px;
  text-align: center;
  cursor: pointer;
}
#trending .trending__cards__card__photos__number:hover {
  transform: scale(0.95);
}
@media screen and (max-width: 690px) {
  #trending .trending__cards__card__photos__number {
    width: 95px;
    height: 95px;
  }
}
#trending .trending__cards__card__photos__number__text {
  padding-top: 2px;
}
@media screen and (max-width: 690px) {
  #trending .trending__cards__card__photos__number__text {
    color: #fff;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
  }
}
#trending .trending__cards__card__content__user {
  padding-top: 10px;
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

#top {
  padding: 80px 0;
}
@media screen and (max-width: 1050px) {
  #top {
    padding: 40px 0;
  }
}
#top .top {
  display: grid;
  -moz-column-gap: 100px;
       column-gap: 100px;
  grid-template-columns: auto auto;
}
@media screen and (max-width: 690px) {
  #top .top {
    grid-template-columns: 1fr;
  }
}
#top .top__button {
  grid-area: 1/2/2/3;
  margin-top: 30px;
  background-color: #2b2b2b;
}
@media screen and (max-width: 690px) {
  #top .top__button {
    grid-area: 3/1/4/2;
  }
}
@media screen and (max-width: 690px) {
  #top .top__button {
    margin-top: 40px;
  }
}
#top .top__button img {
  width: 20px;
  height: 20px;
}
#top .top__button .icon {
  fill: red;
}
#top .top__texts {
  grid-area: 1/1/2/2;
}
#top .top__texts__text {
  padding-top: 10px;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-transform: none;
  padding-bottom: 60px;
}
@media screen and (max-width: 1050px) {
  #top .top__texts__text {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-transform: none;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 1050px) {
  #top .top__texts__heading {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
  }
}
#top .top__cards {
  grid-area: 2/1/3/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 690px) {
  #top .top__cards {
    grid-area: 2/1/3/2;
  }
}
@media screen and (max-width: 1050px) {
  #top .top__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 690px) {
  #top .top__cards {
    grid-template-columns: 1fr;
  }
}
#top .top__cards__card {
  background-color: #3b3b3b;
  position: relative;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
#top .top__cards__card:hover {
  transform: scale(0.95);
}
@media screen and (max-width: 1050px) {
  #top .top__cards__card {
    flex-direction: row;
  }
}
@media screen and (max-width: 1050px) {
  #top .top__cards__card__img {
    height: 60px;
    width: 60px;
  }
}
#top .top__cards__card__content__heading {
  text-align: center;
}
#top .top__cards__card__content__total {
  color: #858584;
}
#top .top__cards__card__content__rank {
  color: #858584;
  position: absolute;
  left: 20px;
  top: 18px;
  border-radius: 20px;
  background: #2b2b2b;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  text-align: center;
}
@media screen and (max-width: 1050px) {
  #top .top__cards__card__content__rank {
    left: 12px;
    top: 13px;
  }
}

#browse .browse {
  padding: 80px 0;
}
#browse .browse__cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding-top: 60px;
  gap: 30px;
}
@media screen and (max-width: 690px) {
  #browse .browse__cards {
    grid-template-columns: repeat(2, auto);
  }
}
#browse .browse__cards a {
  transition: transform 0.3s ease;
  cursor: pointer;
}
#browse .browse__cards a:hover {
  transform: scale(0.95);
}
#browse .browse__cards__card {
  background-color: #3b3b3b;
  border-radius: 20px;
}
@media screen and (max-width: 1050px) {
  #browse .browse__cards__card img {
    width: 150px;
    height: 142px;
  }
}
#browse .browse__cards__card__text {
  padding: 20px 30px 25px 30px;
  width: 100%;
}
@media screen and (max-width: 1050px) {
  #browse .browse__cards__card__text {
    font-size: 16px;
  }
}

#discover .discover {
  padding: 80px 0;
  display: grid;
  -moz-column-gap: 100px;
       column-gap: 100px;
  grid-template-columns: 4fr 1fr;
}
@media screen and (max-width: 1050px) {
  #discover .discover {
    padding: 40px 0;
  }
}
#discover .discover a {
  transition: all 0.3s ease;
  cursor: pointer;
}
#discover .discover a:hover {
  transform: scale(0.95);
}
@media screen and (max-width: 1050px) {
  #discover .discover {
    grid-template-columns: 2.1fr 1fr;
  }
}
@media screen and (max-width: 690px) {
  #discover .discover {
    grid-template-columns: 1fr;
  }
}
#discover .discover__button {
  grid-area: 1/2/2/3;
  margin-top: 30px;
  background-color: #2b2b2b;
}
@media screen and (max-width: 690px) {
  #discover .discover__button {
    grid-area: 3/1/4/2;
  }
}
#discover .discover__button img {
  width: 20px;
  height: 20px;
}
#discover .discover__texts {
  grid-area: 1/1/2/2;
}
#discover .discover__texts__text {
  padding-top: 10px;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-transform: none;
  padding-bottom: 60px;
}
@media screen and (max-width: 1050px) {
  #discover .discover__texts__text {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-transform: none;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 1050px) {
  #discover .discover__texts__heading {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
  }
}
#discover .discover__cards {
  grid-area: 2/1/3/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media screen and (max-width: 1050px) {
  #discover .discover__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 690px) {
  #discover .discover__cards {
    grid-area: 2/1/3/2;
    grid-template-columns: 1fr;
  }
}
#discover .discover__cards__card {
  background-color: #3b3b3b;
  border-radius: 20px;
}
@media screen and (max-width: 1050px) {
  #discover .discover__cards__card:last-child {
    display: none;
  }
}
@media screen and (max-width: 690px) {
  #discover .discover__cards__card:last-child {
    display: initial;
  }
}
#discover .discover__cards__card__img {
  height: 296px;
}
#discover .discover__cards__card__content {
  padding: 20px 30px;
}
#discover .discover__cards__card__content img {
  width: 24px;
  height: 24px;
}
#discover .discover__cards__card__content__dancer {
  padding-top: 5px;
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  align-items: center;
}
#discover .discover__cards__card__content__records {
  padding-top: 25px;
  display: flex;
  -moz-column-gap: 21px;
       column-gap: 21px;
  justify-content: space-between;
}
#discover .discover__cards__card__content__records .col-grey {
  color: #858584;
  padding-bottom: 8px;
}

#magic {
  width: 100%;
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%), url(../../public/imgs/photos/mushroom.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
@media screen and (max-width: 1050px) {
  #magic {
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%), url(../../public/imgs/photos/small-mushroom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
}
@media screen and (max-width: 690px) {
  #magic {
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%), url(../../public/imgs/photos/small-small-mushroom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
}
#magic .magic {
  padding-top: 360px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media screen and (max-width: 690px) {
  #magic .magic {
    padding-top: 120px;
    padding-bottom: 40px;
  }
}
#magic .magic .addition {
  display: none;
}
@media screen and (max-width: 690px) {
  #magic .magic .addition {
    display: flex;
  }
}
@media screen and (max-width: 690px) {
  #magic .magic {
    flex-direction: column;
    row-gap: 30px;
    align-items: start;
  }
  #magic .magic .main {
    display: none;
  }
}
#magic .magic__left {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media screen and (max-width: 1050px) {
  #magic .magic__left__text {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
  }
}
#magic .magic__left__button {
  width: -moz-fit-content;
  width: fit-content;
  color: #2b2b2b;
  background-color: #fff;
}
@media screen and (max-width: 690px) {
  #magic .magic__left__button {
    width: 100%;
  }
}
#magic .magic__left__user {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  padding: 10px 20px;
  align-items: center;
  border-radius: 20px;
  background: #3b3b3b;
  width: -moz-fit-content;
  width: fit-content;
}
#magic .magic__left__user img {
  width: 24px;
  height: 24px;
}
#magic .magic__right {
  padding: 30px;
  width: 295px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  background: rgba(59, 59, 59, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  grid-column-end: auto;
}
@media screen and (max-width: 690px) {
  #magic .magic__right {
    width: 100%;
  }
}
#magic .magic__right__time {
  display: grid;
  grid-template-columns: repeat(5, auto);
  padding-top: 10px;
}
#magic .magic__right__time__number h3 {
  padding-bottom: 5px;
}

#how .how {
  padding: 80px 0;
}
@media screen and (max-width: 1050px) {
  #how .how {
    padding: 40px 0;
  }
}
@media screen and (max-width: 1050px) {
  #how .how__h3 {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
  }
}
#how .how__text {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 48px;
}
@media screen and (max-width: 1050px) {
  #how .how__text {
    padding-bottom: 40px;
    font-size: 16px;
  }
}
#how .how__cards {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 690px) {
  #how .how__cards {
    flex-direction: column;
  }
}
#how .how__cards__card {
  border-radius: 20px;
  background: #3b3b3b;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  width: 330px;
  padding: 10px 30px 30px 30px;
}
@media screen and (max-width: 1050px) {
  #how .how__cards__card img {
    width: 160px;
    height: 160px;
  }
}
@media screen and (max-width: 1050px) {
  #how .how__cards__card img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 690px) {
  #how .how__cards__card {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
#how .how__cards__card__content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 690px) {
  #how .how__cards__card__content {
    align-items: start;
    text-align: start;
  }
}
#how .how__cards__card__content h5 {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}
#how .how__cards__card__content p {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  text-transform: capitalize;
}

#join {
  padding-top: 40px;
  padding-bottom: 80px;
}
@media screen and (max-width: 690px) {
  #join {
    padding: 0;
  }
}
#join .subscribe {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 16px 0px 16px 20px;
  align-items: center;
  row-gap: 12px;
  border-radius: 20px;
  background: #fff;
}
@media screen and (max-width: 1050px) {
  #join .subscribe {
    padding: 0;
    background-color: transparent;
    flex-direction: column;
    height: auto;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
@media screen and (max-width: 1050px) {
  #join .subscribe__button {
    width: 100%;
    height: 46px;
  }
}
#join .subscribe input {
  border: none;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
#join .subscribe input:focus {
  outline: none;
}
#join .subscribe input::-moz-placeholder {
  color: #2b2b2b;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-transform: none;
}
#join .subscribe input::placeholder {
  color: #2b2b2b;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-transform: none;
}
@media screen and (max-width: 1050px) {
  #join .subscribe input {
    display: flex;
    height: 46px;
    padding: 16px 20px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 1px solid #858584;
    background: var(--Text, #fff);
  }
}
#join .subscribe img {
  width: 22px;
  height: 22px;
}
#join .join {
  display: flex;
  background-color: #3b3b3b;
  border-radius: 20px;
  padding: 60px;
  align-items: center;
  gap: 80px;
}
@media screen and (max-width: 1050px) {
  #join .join {
    padding: 40px 30px;
    gap: 30px;
  }
}
@media screen and (max-width: 690px) {
  #join .join {
    padding: 40px 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
  }
}
@media screen and (max-width: 1050px) {
  #join .join__img {
    width: 330px;
    height: 285px;
  }
}
@media screen and (max-width: 690px) {
  #join .join {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1050px) {
  #join .join__content__heading {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
  }
}
#join .join__content__text {
  padding-top: 10px;
  padding-bottom: 40px;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}
@media screen and (max-width: 1050px) {
  #join .join__content__text {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-transform: capitalize;
  }
}

#content .content {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media screen and (max-width: 690px) {
  #content .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
#content .content__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
}
@media screen and (max-width: 690px) {
  #content .content__img {
    width: 100%;
    height: 232px;
  }
}
#content .content__account {
  width: 50%;
  padding: 100px 0;
}
@media screen and (max-width: 690px) {
  #content .content__account {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
#content .content__account__text {
  padding-top: 20px;
  padding-bottom: 40px;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}
@media screen and (max-width: 1050px) {
  #content .content__account__text {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-transform: capitalize;
  }
}
@media screen and (max-width: 1050px) {
  #content .content__account__heading {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
  }
}
@media screen and (max-width: 690px) {
  #content .content__account__heading {
    margin-top: 30px;
  }
}
#content .content__account__button {
  width: 330px;
}
@media screen and (max-width: 690px) {
  #content .content__account__button {
    width: 315px;
    margin-bottom: 40px;
  }
}
#content .content__account__form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-bottom: 30px;
}
@media screen and (max-width: 690px) {
  #content .content__account__form {
    width: 100%;
    align-items: center;
  }
}
#content .content__account__form div {
  display: flex;
  height: 46px;
  width: 330px;
  padding: 16px 20px;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  border: 1px solid #858584;
  background: #fff;
  text-align: center;
}
@media screen and (max-width: 690px) {
  #content .content__account__form div {
    width: 315px;
  }
}
#content .content__account__form input {
  width: 100%;
  border: none;
  outline: none;
  margin-top: 5px;
}
#content .content__account__form input::-moz-placeholder {
  color: #2b2b2b;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-transform: none;
}
#content .content__account__form input::placeholder {
  color: #2b2b2b;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-transform: none;
}/*# sourceMappingURL=main.css.map */