//colors
$--Background: #2b2b2b;
$--Background---Secondary: #3b3b3b;
$--caption-label-text: #858584;
$--Text: #fff;
$--Call-to-Action: #a259ff;
$--Footer-text:#CCCCCC;

$--gradient-1: linear-gradient(101deg, #a259ff 13.57%, #ff6250 97.65%);
$--gradient-2: linear-gradient(128deg, #a259ff 49.75%, #377df7 136.56%);

//Fonts
$--mono:'Space Mono', monospace;;
$--work:'Work Sans', sans-serif;
